/* Utils */

.grey {
  color: grey;
}

/* Header */

header {
  background-color: rgb(46, 58, 70);
}

header img {
  width: 50px;
  margin: 10px 0 10px 20px;
}

/* Main */

main {
  background-color: rgb(30, 45, 59);
}

.section-discs {
  padding-top: 70px;
}

.discs {
  text-align: center;
  margin: 0 20px;
  margin-bottom: 50px;
  background-color: rgb(46, 58, 70);
  padding: 50px 0;
}

.discs h5 {
  margin-top: 20px;
}

.discs img {
  width: 150px;
}

.discs .info {
  padding: 0 30px;
}

main section {
  width: 1200px;
  margin: 0 auto;
}
